---
---

<div class="
    bento-card card-profile
    col-span-2 row-span-2 lg:row-span-3
    lg:col-start-1 lg:row-start-1
    flex flex-col items-center justify-center text-center
">
    <div class="profile-image-wrapper">
        <img src="/images/roman.webp" alt="Роман Пуртов" class="profile-image profile-image--default" width="160" height="160" fetchpriority="high" itemprop="image">
        <img src="/images/roman-lol.webp" alt="Роман Пуртов" class="profile-image profile-image--hover" width="160" height="160" loading="lazy">
    </div>
    <h1 id="i18n-name" data-i18n="name" class="profile-title">Роман Пуртов</h1>
    <p id="i18n-mainDescription1" data-i18n="mainDescription1" class="profile-description"></p>
    <p id="i18n-mainDescription2" data-i18n="mainDescription2" class="profile-description"></p>
</div>
